.homepage-container {
  height: 100vh;
  width: 100%;
  font-family: Arial, sans-serif;
  transition: background 1s ease-in-out;
}

.home-background {
  background-image: url("./insurance.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  animation: fadeIn 1s ease-in;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#4169E1;
  padding: 15px 60px; 
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  box-sizing: border-box;
}

.nav-left h2 {
  color: white;
  font-size: 24px;
  margin: 0;
  letter-spacing: 1px;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 35px;
}

.nav-item {
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s, transform 0.3s;
  white-space: nowrap;
  font-size: 18px;
}

.nav-item:hover {
  color: yellow;
  transform: scale(1.1);
}

.module-container {
  padding-top: 100px;
  text-align: center;
  min-height: calc(100vh - 100px);
}
.home-content {
  margin-top: 150px;
  text-align: center;
  animation: fadeInUp 1s ease;
}

.home-content h1 {
  font-size: 48px;
  text-shadow: 2px 2px 5px black;
}

.home-content p {
  font-size: 20px;
  text-shadow: 1px 1px 3px black;
}

/* Fade in and slide up */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}